doctype html
html(lang="en")

  include ../partials/head

  body
    include ../partials/navbar

    h1 Biletler
    p Kalkış: #{kalkis}
    p Varış: #{varis}
    p Tarih: #{tarih}
    p Routes:
    .row
      each route in routes
        .col-6
          .card-container
            .card.mt-4
              .card-header
                a(href=`/ticket/${route.id}`)
                  h5.card-title= route.name
              .card-body
                p.card-text
                  strong Departure City:
                    | #{route.departureCity} 
                p.card-text
                  strong Arrival City:
                    | #{route.arrivalCity}
                p.card-text
                  strong Distance:
                    | #{route.distance} km 
                p.card-text
                  strong Departure Date:
                    | #{route.departureDate}


    include ../partials/footer

