doctype html
html(lang="en")

  include ../partials/head

  body
    include ../partials/navbar

    h1 #{route.name}
    h1 #{route.departureCity}
    h1 #{route.arrivalCity}
    h1 #{route.distance}
    h1 #{route.departureDate}


    include ../partials/footer